<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cy.db.sys.dao.SysMenuDao">

    <select id="findMenuObject" resultType="map">
        SELECT c.*,p.name parentName
        FROM sys_menus c LEFT JOIN sys_menus p ON c.parentId=c.id
    </select>

    <select id="findChildMenuCount" resultType="int">
        SELECT COUNT(*)
        FROM sys_menus
        WHERE parentId=#{id}
    </select>

    <delete id="deleteCheckedMenuObject">
        DELETE FROM sys_menus
        WHERE id=#{id}
    </delete>

    <select id="findZtreeMenuNodes" resultType="com.cy.db.common.po.Node">
        SELECT id,name,parentId
        FROM sys_menus
    </select>

    <insert id="saveMenuObject">
        INSERT
        INTO sys_menus
        values (NULL,#{name},#{url},#{type},#{sort},#{note},#{parentId},#{permission},NOW(),NOW(),#{createdUser},#{modifiedUser})
    </insert>

    <update id="updateMenuObject">
        UPDATE sys_menus
        SET name=#{name},url=#{url},type=#{type},sort=#{sort},note=#{note},parentId=#{parentId},permission=#{permission},modifiedTime=NOW(),modifiedUser=#{modifiedUser}
        WHERE id=#{id}
    </update>

</mapper>