<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cy.db.sys.dao.SysRoleDao">

    <sql id="whereName">
        FROM sys_roles
        <where>
            <if test="name!=null and name!=''">
                name LIKE  CONCAT('%',#{name},'%')
            </if>
        </where>
    </sql>

    <select id="findRowCount" resultType="long">
        SELECT COUNT(*)
        <include refid="whereName"></include>
    </select>

    <select id="findPageCurrentRecords" resultType="com.cy.db.common.po.SysRole">
        SELECT *
        <include refid="whereName"></include>
        ORDER BY createdTime DESC
        LIMIT #{startIndex},#{pageSize}
    </select>

    <insert id="saveRoleObject" useGeneratedKeys="true" keyProperty="id">
        INSERT
        INTO sys_roles
        (name,note,createdTime,modifiedTime,createdUser,modifiedUser)
        VALUES (#{name},#{note},NOW(),NOW(),#{createdUser},#{modifiedUser})
    </insert>

    <resultMap id="SysRoleMenu" type="com.cy.db.common.po.SysRoleMenu">
        <id column="id" property="id"></id>
        <result column="name" property="name"></result>
        <result column="note" property="note"></result>
        <collection column="id" property="menuIds" select="com.cy.db.sys.dao.SysRoleMenuDao.findMenuIdsByRoleId"></collection>
    </resultMap>

    <select id="findRoleMenuObject" resultMap="SysRoleMenu">
        SELECT id,name,note
        FROM sys_roles
        WHERE id=#{id}
    </select>

    <update id="updateRoleObject">
        UPDATE sys_roles
        SET name=#{name}, note=#{note}, modifiedTime=NOW(), modifiedUser=#{modifiedUser}
        WHERE id=#{id}
    </update>

    <select id="findRoles" resultType="com.cy.db.common.po.CheckBox">
        SELECT *
        FROM sys_roles
    </select>

</mapper>